{% extends "oids/base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="mb-4">{{ page_title }}</h2>
    {# <a href="URL_ДЛЯ_ДОДАВАННЯ_ОІД" class="btn btn-primary mb-3">Додати новий ОІД</a> #}

    {% if object_list %}
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ВЧ + ОІД (Шифр)</th>
                    <th>Повна назва ОІД</th>
                    <th>Тип ОІД</th>
                    <th>Приміщення</th>
                    <th>Стан</th>
                    <th>Гриф</th>
                    <th>Примітки ОІД</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                {% for oid_item in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'oids:oid_detail_view_name' oid_item.id %}">
                                {{ oid_item.unit.code }} / {{ oid_item.cipher }}
                            </a>
                        </td>
                        <td>{{ oid_item.full_name|default_if_none:"Не вказано" }}</td>
                        <td>{{ oid_item.get_oid_type_display }}</td>
                        <td>{{ oid_item.room }}</td>
                        <td>{{ oid_item.get_status_display }}</td>
                        <td>{{ oid_item.get_sec_level_display }}</td>
                        <td>{{ oid_item.note|truncatewords:10|default:"-" }}</td>
                        <td>
                            <a href="{% url 'oids:oid_detail_view_name' oid_item.id %}" class="btn btn-sm btn-info">Деталі</a>
                            {# <a href="#" class="btn btn-sm btn-warning">Редагувати</a> #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "../includes/pagination.html" %}
    {% else %}
        <p>Об'єкти інформаційної діяльності не знайдено.</p>
    {% endif %}
</div>
{% endblock %}