{% extends "oids/base.html" %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">{{ page_title }}</h2>
    
    <form method="post">
        {% csrf_token %}
        <div class="card mb-4">
            <div class="card-header">Дані листа-відповіді</div>
            <div class="card-body">
                {{ response_form.as_p }}
            </div>
        </div>

        <div class="card">
            <div class="card-header">Оновлення реєстраційних номерів для документів</div>
            <div class="card-body">
                {{ formset.management_form }}
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>ВЧ / ОІД</th>
                            <th>Підг. № / від</th>
                            <th>Реєстраційний номер ДССЗЗІ</th>
                            <th>Дата реєстрації ДССЗЗІ</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            <tr>
                                <td>{{ form.instance.unit.code }}  {{ form.instance.oid.cipher }} {{ form.id }}</td>
                                <td>{{ form.instance.document_number }} від {{ form.instance.process_date }}</td>
                                <td>{{ form.dsszzi_registered_number }}</td>
                                <td>{{ form.dsszzi_registered_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Зберегти відповідь</button>
    </form>
</div>
{% endblock %}