<!-- C:\myFirstCRM\oids\templates\oids\work_request.html -->


{% extends 'base.html' %}
{% block title %}Відрядження. Спланувати{% endblock %}
{% load static %}

{% block content %} 

<!-- % block extra_js % -->
<!-- % endblock % -->
<!-- % endblock % -->

    <form method="post">
        {% csrf_token %}

        <h3>Заявка на проведення робіт</h3>
        {{ header_form.as_p }}

        <h3>ОІД в заявці:</h3>
        <div id="formset">
           {{ formset.management_form }}

            {% for form in formset %}
            <div class="document-form" data-form-index="{{ forloop.counter0 }}" style="border: 1px solid #ccc; margin: 10px; padding: 10px; position: relative;">
                <div class="form-row">
                    <label for="{{ form.oid.id_for_label }}">Об’єкт інформаційної діяльності:</label>
                    {{ form.oid }}
                </div>
                <div class="form-row">
                    <label for="{{ form.work_type.id_for_label }}">Тип роботи:</label>
                    {{ form.work_type }}
                </div>                
                <br>
                <!-- Кнопки поруч із кожним oid-полем -->
                <button type="button" class="add-oid-button" style="margin-right: 30px;">➕ Додати ОІД</button>
                <button type="button" class="remove-form" style="background-color: #eedbdb;">🗑 Видалити це поле</button>
            </div>
            {% endfor %}
        </div>
        
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <button type="button" id="add-form">➕ Додати документ</button>
        <br><br>
        <button type="submit" style="background-color: #ddf5a5;">💾 Зберегти всі документи</button>
    </form>



<!-- <script src="{% static 'oids/js/oid_create_aside.js' %}"></script> -->
<!-- <script src="{% static 'oids/js/filtering_dynamic.js' %}"></script> -->
<script src="{% static 'oids/js/add_oid_form.js' %}"></script>
{% endblock %}
