<!-- C:\myFirstCRM\oids\templates\oids\work_request.html -->
{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Відрядження. Спланувати{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <h3>Заявка на проведення робіт</h3>
    {{ header_form.as_p }}

    <h3>ОІД в заявці:</h3>
    <div id="formset">
        {{ formset.management_form }}

        {% for form in formset %}
        <div class="document-form" data-form-index="{{ forloop.counter0 }}" style="border: 1px solid #ccc; margin: 10px; padding: 10px;">
            <div class="form-row">
                <label for="{{ form.oid.id_for_label }}">Об’єкт інформаційної діяльності:</label>
                {% render_field form.oid class="oid-select" %}
            </div>
            <div class="form-row">
                <label for="{{ form.work_type.id_for_label }}">Тип роботи:</label>
                {% render_field form.work_type %}
            </div>
            <button type="button" class="add-oid-button">➕ Додати ОІД</button>
            <button type="button" class="remove-form">🗑 Видалити це поле</button>
        </div>
        {% endfor %}
    </div>

    <button type="button" id="add-form">➕ Додати документ</button>
    <br><br>
    <button type="submit" style="background-color: #ddf5a5;">💾 Зберегти всі документи</button>
</form>

<!-- шаблон пустої форми -->
<div id="empty-form-template" style="display: none;">
    <div class="document-form" data-form-index="__prefix__" style="border: 1px solid #ccc; margin: 10px; padding: 10px;">
        <div class="form-row">
            <label for="id_form-__prefix__-oid">Об’єкт інформаційної діяльності:</label>
            {% render_field empty_form.oid name="form-__prefix__-oid" id="id_form-__prefix__-oid" class="oid-select" %}
        </div>
        <div class="form-row">
            <label for="id_form-__prefix__-work_type">Тип роботи:</label>
            {% render_field empty_form.work_type name="form-__prefix__-work_type" id="id_form-__prefix__-work_type" %}
        </div>
        <button type="button" class="add-oid-button">➕ Додати ОІД</button>
        <button type="button" class="remove-form">🗑 Видалити це поле</button>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'oids/js/script_work_request.js' %}"></script>
{% endblock %}
