
<!-- extends 'base.html' -->

<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Система обліку{% endblock %}</title>
  {% block head %}{% endblock %}


  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'oids/css/base.css' %}">
  {% block extra_css %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    
  <button class="theme-toggle" onclick="toggleTheme()">Змінити тему</button>
  <div class="container">
    {% block content %}
    
                        
                        {% if messages %}
                      <div id="messages" style="margin-bottom: 1em;">
                        {% for message in messages %}
                          <div class="alert {{ message.tags }}" style="
                              padding: 10px;
                              border-radius: 5px;
                              margin-bottom: 5px;
                              background-color: {% if 'success' in message.tags %}#d4edda
                                              {% elif 'error' in message.tags %}#f8d7da
                                              {% elif 'warning' in message.tags %}#fff3cd
                                              {% else %}#d1ecf1{% endif %};
                              border: 1px solid {% if 'success' in message.tags %}#c3e6cb
                                                {% elif 'error' in message.tags %}#f5c6cb
                                                {% elif 'warning' in message.tags %}#ffeeba
                                                {% else %}#bee5eb{% endif %};
                              color: #000;
                            ">
                            {{ message }}
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}

    {% endblock %}
  </div>
  <!-- 
  <button type="button" class="add-oid-button" style="margin-right: 30px;">➕ Додати ОІД</button> 
-->



{% include 'oids/oid_create_aside.html' %}
<script src="{% static 'oids/js/oid_create_aside.js' %}"></script>
<script src="{% static 'oids/js/script.js' %}"></script>
<script src="{% static 'oids/js/select2-init.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    attachOidAside();  // або attachOidAside('custom_unit_id') якщо інший id
  });
</script>
<script src="{% static 'oids/js/filtering_dynamic.js' %}"></script>
{% block extra_js %} {% endblock %}
</body>
</html>