<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
    <style>
        body { font-family: Arial, sans-serif; padding: 20px; }
        h1 { margin-bottom: 20px; }
        ul { list-style-type: none; padding: 0; }
        li { margin: 10px 0; }
        a { text-decoration: none; color: #0056b3; font-size: 18px; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Система обліку робіт з ОІД</h1>
    <div style="padding: 20px; display: flex; flex-direction: row; justify-content: space-around; gap: 20px; margin: 0 auto;">
        <div>
            <h2>додати інформацію</h2>
    <ol>
        <li><a href="{% url 'technical_task_create' %}" target="_blank">🧾  Додати опрпацювання ТЗ</a></li>
        <li><a href="{% url 'work_request' %}" target="_blank">📨 Додати заявку на проведення робіт</a></li>
        <li><a href="{% url 'document_done' %}" target="_blank">➕ Додати опрацьовані документи</a></li>
        <li><a href="{% url 'attestation_new' %}" target="_blank">🧾 зареєструвати атестацію</a></li>
        <li><a href="{% url 'trip-create' %}" target="_blank">📤 📤 Планування відрядження</a></li>
        <li><a href="{% url 'trip_result_new' %}" target="_blank">📤 Відправка опрацьованих документів по відрядженню</a></li>
        <li><a href="{% url 'oid_status_change' %}" target="_blank">🧾  зміна статусу ОІД</a></li>
    </ol>
            
        </div>
        <div>
            <h2>переглянути інформацію</h2>
<ol>
        <li><a href="{% url 'unit_overview' %}" target="_blank"> Все про ОІД</a></li>
        <li><a href="{% url 'technical_task_list' %}" target="_blank">🧾 Інформація про опрацювання ТЗ</a></li>
        <li><a href="{% url 'work_request_list' %}" target="_blank">📨 Переглянути заявки на проведення робіт</a></li>
        <!-- <li><a href="{% url 'document_done' %}" target="_blank">Інформація про опрацьовані документи </a></li> -->
        <!-- <li><a href="{% url 'attestation_new' %}" target="_blank">🧾 переглянути атестації</a></li> -->
        <li><a href="{% url 'trip-list' %}" target="_blank">🧾 Сплановані відрядження</a></li>
        <!-- <li><a href="{% url 'trip_result_new' %}" target="_blank">📤 Відправка опрацьованих документів по відрядженню</a></li> -->
        <!-- <li><a href="{% url 'oid_status_change' %}" target="_blank">🧾  зміна статусу ОІД</a></li> -->

</ol>

        </div>
    </div>

</body>
</html>
