<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
    <style>
        body { font-family: Arial, sans-serif; padding: 20px; }
        h1 { margin-bottom: 20px; }
        ul { list-style-type: none; padding: 0; }
        li { margin: 10px 0; }
        a { text-decoration: none; color: #0056b3; font-size: 18px; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Система обліку робіт з ОІД</h1>
    <div style="padding: 20px; display: flex; flex-direction: row; justify-content: space-around; gap: 20px; margin: 0 auto;">
        <div>
            <h2>додати інформацію</h2>

  <ol>
    <li><a href="{% url 'home' %}" target="_blank">📝 Додати опрацювання ТЗ</a></li>        <!-- technical_task_create-->
    <li><a href="{% url 'home' %}" target="_blank">📨 Додати заявку на проведення робіт</a></li>         <!-- work_request-->
    <li><a href="{% url 'home' %}" target="_blank">🧭 Планування відрядження</a></li>        <!-- tripcreate-->
    <li><a href="{% url 'home' %}" target="_blank">📂 Додати опрацьовані документи</a></li>         <!-- document_done-->
    <li><a href="{% url 'home' %}" target="_blank">✅ Зареєструвати атестацію</a></li>           <!-- send_doc_cip-->
    <li><a href="{% url 'home' %}" target="_blank">📬 Відправка документів по відрядженню</a></li> <!-- send_doc_unit-->
    <li><a href="{% url 'home' %}" target="_blank">🔄 Зміна статусу ОІД</a></li>            <!-- oid_status_change-->
</ol>

</div>
<div>
    <h2>📊 Переглянути інформацію</h2>
    <ol>
        <li><a href="{% url 'home' %}" target="_blank">📘 Все про ОІД</a></li>        <!-- unit_overview -->
        <li><a href="{% url 'home' %}" target="_blank">🗂️ Інформація про опрацювання ТЗ</a></li>          <!-- technical_task_list -->
        <li><a href="{% url 'home' %}" target="_blank">📄 Переглянути заявки</a></li>         <!-- work_request_list -->
        <li><a href="{% url 'home' %}" target="_blank">📁 Опрацьовані документи</a></li>          <!-- document_done -->
        <li><a href="{% url 'home' %}" target="_blank">🧳 Сплановані відрядження</a></li>         <!-- trip_list -->
        <li><a href="{% url 'home' %}" target="_blank">📈 Історія зміни статусу ОІД</a></li>          <!-- oid_status_change -->
    </ol>
</div>


        </div>
    </div>

</body>
</html>
