<!-- C:\myFirstCRM\oids\templates\attestation_registration_form.html -->
{% extends 'base.html' %}
{% block title %}Page Title{% endblock %}

{% load static %}
{% block extra_css %}{% endblock %}



    {% block content %}


<!-- insert page content -->

    <h2>Нова відправка Акту Атестації</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="btn btn-primary">Зберегти</button>
    </form>





{% block extra_js %}{% endblock %}
{% endblock %}
