<!-- C:\myFirstCRM\oids\templates\send_doc_unit.html -->
{% extends 'base.html' %}
{% block title %}Результати роботи у відрядженні (відправка в частину){% endblock %}

{% load static %}
{% block extra_css %}{% endblock %}

{% block content %} 

<h2>Відправка результатів в частину</h2>

<form method="post" enctype="multipart/form-data" id="trip-result-form">
  {% csrf_token %}

  <fieldset>
    <legend>Військові частини</legend>
    <select id="id_units" name="units" class="select2">
      {% for unit in form.fields.units.queryset %}
        <option value="{{ unit.id }}">{{ unit.name }}</option>
      {% endfor %}
    </select>
  </fieldset>

  <fieldset>
    <legend>ОІД</legend>
    <select id="id_oids" name="oids" class="select2" multiple>
      <!-- буде довантажено через AJAX -->
    </select>
  </fieldset>

  <fieldset>
    <legend>Заявки</legend>
    <select id="id_related_request" name="related_request" class="select2">
      <!-- буде довантажено через AJAX -->
    </select>
  </fieldset>

  <fieldset>
    <legend>Документи</legend>
    <select id="id_documents" name="documents" class="select2" multiple>
      {% for doc in form.fields.documents.queryset %}
        <option value="{{ doc.id }}">{{ doc.document_type.name }} / {{ doc.document_number }}</option>
      {% endfor %}
    </select>
  </fieldset>

  <fieldset>
    <legend>Дата та файл</legend>
    {{ form.process_date.label_tag }} {{ form.process_date }}<br>
    {{ form.attachment.label_tag }} {{ form.attachment }}
  </fieldset>

  <fieldset>
    <legend>Примітка</legend>
    {{ form.note.label_tag }} {{ form.note }}
  </fieldset>

  <fieldset>
    <legend>Пов'язане відрядження (opційно)</legend>
    {{ form.trip.label_tag }} {{ form.trip }}
  </fieldset>

  <button type="submit">Відправити</button>
</form>


{% block extra_js %}{% endblock %}
{% endblock %}



   





