{% extends 'base.html' %}
{% block title %}Планування відрядження{% endblock %}

{% load static %}
{% block extra_css %}{% endblock %}

{% block content %}
  <h2>Форма планування відрядження</h2>

<form method="post" autocomplete="off">
  {% csrf_token %}

<select id="id_units" multiple class="select2">
  {% for unit in units %}
    <option value="{{ unit.id }}">{{ unit.name }}</option>
  {% endfor %}
</select>





<select id="id_oids" multiple class="select2" disabled>
  <option>-- оберіть частини --</option>
</select>

<select id="id_work_requests" multiple class="select2" disabled>
  <option>-- оберіть ОІД --</option>
</select>

  <label for="id_start_date">Дата початку:</label>
  <input type="date" name="start_date" id="id_start_date" value="{{ start_date }}">

  <label for="id_end_date">Дата завершення:</label>
  <input type="date" name="end_date" id="id_end_date" value="{{ end_date }}">

  <label for="id_persons">Відряджаються:</label>
  <select name="persons" id="id_persons" multiple class="select2">
    {% for person in persons %}
      <option value="{{ person.id }}" {% if person.id in selected_persons %}selected{% endif %}>
        {{ person.name }}
      </option>
    {% endfor %}
  </select>

  <label for="id_purpose">Примітка:</label>
  <textarea name="purpose" id="id_purpose" rows="4">{{ purpose }}</textarea>

  <button type="submit">💾 Зберегти</button>
</form>


{% block extra_js %}{% endblock %}
{% endblock %}